
# **Trabalho Prático: Introdução à Ciência dos Dados**
### **Entrega 2 - Tratamento dos dados**
**Integrantes**: Aryel Penido - 3500 Claudio Barbosa - 3492 Isabela Ramos - 3474

**Tema:** Análise da população em situação de rua em BH

**Dados:** https://dados.pbh.gov.br/dataset/populacao-de-rua

# Importantando as bibliotecas:

In [26]:
import pandas as pd
from datetime import datetime, date

## Coleta dos dados

In [27]:
#URLs dos arquivos (direto da base de dados)
url_9_20 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/aa8477c0-81fc-442c-b1bf-25475674adda/download/4-data_set_poprua_cadunico_09-2020.csv'
url_10_20 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/d498812a-0d81-46de-93d1-9c7cd84b85b8/download/data_set_poprua_cadunico-10-2020.csv'
url_11_20 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/952c9ff9-a7e6-4800-9ee7-fe7231d92a2c/download/data_set_poprua_cadunico-11-2020.csv'
url_12_20 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/153bf11e-5416-433b-bca4-790baa1e8f44/download/data_set_poprua_cadunico.csv'
url_1_21 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/076df2cf-7f98-462d-a544-a10bc675974b/download/data_set_poprua_cadunico.csv'
url_2_21 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/dd2a60bb-3600-4248-815e-69863417f91f/download/data_set_poprua_cadunico.csv'
url_3_21 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/319191cc-20a5-4e7b-8b13-59cd433902dc/download/data_set_poprua_cadunico.csv'
url_4_21 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/360b17f7-5262-4a4e-ad3d-6097b756871b/download/data_set_poprua_cadunico.csv'
url_5_21 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/9096f15c-d400-481f-a078-5238c83ca0e7/download/data_set_poprua_cadunico.csv'
url_6_21 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/44baba43-85ba-4838-8c6e-6adcb469e03b/download/data_set_poprua_cadunico_06-2021.csv'
url_7_21 = 'https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/f904a3a6-1f6e-42b6-b326-7ab0bfe8eca6/download/data_set_poprua_cadunico_07-2021.csv'

#Leitura individual de cada um
data9_20 = pd.read_csv(url_9_20,sep = ";")
data10_20 = pd.read_csv(url_10_20,sep = ";")
data11_20 = pd.read_csv(url_11_20,sep = ";")
data12_20 = pd.read_csv(url_12_20,sep = ";")
data1_21 = pd.read_csv(url_1_21,sep = ";")
data2_21 = pd.read_csv(url_2_21,sep = ";")
data3_21 = pd.read_csv(url_3_21,sep = ";")
data4_21 = pd.read_csv(url_4_21,sep = ";")
data5_21 = pd.read_csv(url_5_21,sep = ";")
data6_21 = pd.read_csv(url_6_21,sep = ";")
data7_21 = pd.read_csv(url_7_21,sep = ";")

# Agrupando todos os dados em um único Dataframe

In [28]:
df2020=pd.concat([data9_20,data10_20, data11_20, data12_20],ignore_index=True)
df2021=pd.concat([data1_21, data2_21, data3_21, data4_21, data5_21, data6_21, data7_21],ignore_index=True)

# Agrupando os dados por ano

In [29]:
df=pd.concat([data9_20,data10_20, data11_20, data12_20, data1_21, data2_21, data3_21, data4_21, data5_21, data6_21, data7_21],ignore_index=True)
df

             TEMPO_VIVE_NA_RUA  ... MES_ANO_REFERENCIA
0         Entre um e dois anos  ...         01/09/2020
1               Ate seis meses  ...         01/09/2020
2       Entre cinco e dez anos  ...         01/09/2020
3               Ate seis meses  ...         01/09/2020
4       Entre cinco e dez anos  ...         01/09/2020
...                        ...  ...                ...
95178           Ate seis meses  ...         01/07/2021
95179     Entre um e dois anos  ...         01/07/2021
95180           Ate seis meses  ...         01/07/2021
95181   Entre cinco e dez anos  ...         01/07/2021
95182  Entre dois e cinco anos  ...         01/07/2021

[95183 rows x 15 columns]

# Tratamento dos dados

**Verificar campos vazios/nulos:**

In [30]:
df.isnull().sum()

TEMPO_VIVE_NA_RUA                        0
CONTATO_PARENTE_FORA_RUAS                0
DATA_NASCIMENTO                          0
IDADE                                 8282
SEXO                                     0
BOLSA_FAMILIA                            0
POP_RUA                                  0
GRAU_INSTRUCAO                           0
COR_RACA                                 0
Faixa da renda familiar per capita       0
VAL_REMUNERACAO_MES_PASSADO            495
CRAS                                     0
REGIONAL                                 0
FAIXA_DESATUALICACAO_CADASTRAL           0
MES_ANO_REFERENCIA                       0
dtype: int64

* É possível observar que apesar de todos os campos de data de nascimento estarem devidamente preenchidos, alguns dos campos de idade não estão.

**Verificar os tipos dos dados:**

In [31]:
df.dtypes

TEMPO_VIVE_NA_RUA                      object
CONTATO_PARENTE_FORA_RUAS              object
DATA_NASCIMENTO                        object
IDADE                                 float64
SEXO                                   object
BOLSA_FAMILIA                          object
POP_RUA                                object
GRAU_INSTRUCAO                         object
COR_RACA                               object
Faixa da renda familiar per capita     object
VAL_REMUNERACAO_MES_PASSADO           float64
CRAS                                   object
REGIONAL                               object
FAIXA_DESATUALICACAO_CADASTRAL         object
MES_ANO_REFERENCIA                     object
dtype: object

* Alguns detalhes importantes: A data_nascimento não está no formato date e os campos idade e val_remuneracao_mes_passado estão no formato float.

* Um dicionário com os tipos de cada atributo é fornecido juntamente ao banco de dados, contudo ele mostrou-se não confiável.

## Utilizando a data de nascimento para cálculo da idade:

* Convertendo MES_ANO_REFERENCIA de objetct para datetime

In [32]:
df['MES_ANO_REFERENCIA'] = pd.to_datetime(df['MES_ANO_REFERENCIA'])
df.dtypes

TEMPO_VIVE_NA_RUA                             object
CONTATO_PARENTE_FORA_RUAS                     object
DATA_NASCIMENTO                               object
IDADE                                        float64
SEXO                                          object
BOLSA_FAMILIA                                 object
POP_RUA                                       object
GRAU_INSTRUCAO                                object
COR_RACA                                      object
Faixa da renda familiar per capita            object
VAL_REMUNERACAO_MES_PASSADO                  float64
CRAS                                          object
REGIONAL                                      object
FAIXA_DESATUALICACAO_CADASTRAL                object
MES_ANO_REFERENCIA                    datetime64[ns]
dtype: object

* Escolhemos calcular as idades das linhas que cujo valor é nulo já que todos tem o atributo DATA_NASCIMENTO preenchido

In [33]:
##função para calcular idade
def age(born):
    born =datetime.strptime(born, "%d/%m/%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))

In [34]:
df['IDADE'] = df['DATA_NASCIMENTO'].apply(age)
df.isnull().sum()

TEMPO_VIVE_NA_RUA                       0
CONTATO_PARENTE_FORA_RUAS               0
DATA_NASCIMENTO                         0
IDADE                                   0
SEXO                                    0
BOLSA_FAMILIA                           0
POP_RUA                                 0
GRAU_INSTRUCAO                          0
COR_RACA                                0
Faixa da renda familiar per capita      0
VAL_REMUNERACAO_MES_PASSADO           495
CRAS                                    0
REGIONAL                                0
FAIXA_DESATUALICACAO_CADASTRAL          0
MES_ANO_REFERENCIA                      0
dtype: int64

* as linhas com valores nulos de VAL_REMUNERACAO_MES_PASSADO serão retiradas visto que preencher com -1 ou algum texto marcados poderia alterar médias futuras e não temos informações suficientes para afirmar que todos os valores nulos dessa coluna podem ser substituidos por 0

In [35]:
df = df.dropna(subset=['VAL_REMUNERACAO_MES_PASSADO'])
df

             TEMPO_VIVE_NA_RUA  ... MES_ANO_REFERENCIA
0         Entre um e dois anos  ...         2020-01-09
1               Ate seis meses  ...         2020-01-09
2       Entre cinco e dez anos  ...         2020-01-09
3               Ate seis meses  ...         2020-01-09
4       Entre cinco e dez anos  ...         2020-01-09
...                        ...  ...                ...
95178           Ate seis meses  ...         2021-01-07
95179     Entre um e dois anos  ...         2021-01-07
95180           Ate seis meses  ...         2021-01-07
95181   Entre cinco e dez anos  ...         2021-01-07
95182  Entre dois e cinco anos  ...         2021-01-07

[94688 rows x 15 columns]